{% extends 'base.html' %}

<!-- header block -->
{% block header %}
<h1>{% block title %}Edit password{% endblock %}</h1>
{% endblock %}

<!-- content block -->
{% block content %}
{% with messages=get_flashed_messages()%}
    {% if messages %}
       {% for message in messages %}
          <h3> {{ message }}</h3>
            {% endfor %}
    {% endif %}
{% endwith %}    
<form method="POST" action="">
  {{form.hidden_tag()}}
  <div class="row">
    {{form.old_password.label}}
    {{form.old_password()}}
  </div>
  <div class="row">
    {{form.new_password.label}}
    {{form.new_password()}}
  </div>
  <div class="row">
    {{form.confirm.label}}
    {{form.confirm()}}
  </div>

  <hr class="mb-4" />
  {{form.submit()}}
</form>
{% endblock %}