{% extends 'base.html' %}
<!-- title -->
{% block title %}Flask Blog - User{% endblock %}


<!-- content block -->
{% block main %}

<!-- posts header -->
<div class="col-lg-4 col-md-6 col-sm-12">

    <!-- post card -->
    <div class="card bg-light mb-3">

      <!-- card header -->
      <div class="card-header">
        <h5 class="card-title">{{user.username}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{user.first_name}} {{user.last_name}}</h6>
      

      <!-- card body -->
      <div class="card-body"></div>
        <h4>Biography</h4>
        <p class="card-text">{{user.biography}}</p>

        <a href="#" class="card-link">More by this author</a>

      
    </div>
    <a class="btn btn-primary" href="{{ url_for('user.delete_user',id=user.id) }}" role="button" >Delete User</a>
    <a class="btn btn-primary mt-3" href="{{ url_for('user.edit_user',id=user.id) }}" role="button" >Edit User</a>
  </div>
{% endblock %}