@import url("https://fonts.googleapis.com/css2?family=Aclonica&display=swap");
.font-aclonica {
  font-family: "Aclonica", sans-serif;
}

body, html {
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

.btn-flash {
  right: 5px;
  position: absolute;
  bottom: 10%;
}
