{% extends 'base.html' %}
<!-- title -->
{% block title %}Flask Souq - Add User{% endblock %}

<!-- content block -->
{% block main %}

<!-- Add user -->
<div class="row mt-5">
  <div class="col-md-4 mx-auto mb-2">
    <h3>
    Edit User
    </h3>
  </div>
</div>

<div class="row">
  <div class="col-md-4 mx-auto bg-light card p-3">
    
  <form method="POST">
    {{form.hidden_tag()}}

    <div class="form-group">
      {{form.username.label(class="col-form-label")}}
      {{form.username(class="form-control",value = user.username)}}
      {% for  error in form.errors.username %}
      <small class="text-danger form-text">
      {{  error }}
      </small>
      {% endfor %}
    </div>
    <div class="form-group">
      {{form.birthday.label(class="col-form-label")}}
      {{form.birthday(class="form-control",type="date")}}
      {% for  error in form.errors.birthday %}
      <small class="text-danger form-text">
      {{  error }}
      </small>
      {% endfor %}
    </div>
    <div class="form-group">
      {{form.email.label(class="col-form-label")}}
      {{form.email(class="form-control",value=user.email)}}
      {% for  error in form.errors.email %}
      <small class="text-danger form-text">
      {{  error }}
      </small>
      {% endfor %}
    </div>
    <div class="form-group">
      {{form.first_name.label(class="col-form-label")}}
      {{form.first_name(class="form-control",value=user.first_name)}}
      {% for  error in form.errors.first_name %}
      <small class="text-danger form-text">
      {{  error }}
      </small>
      {% endfor %}
    </div>
    <div class="form-group">
      {{form.last_name.label(class="col-form-label")}}
      {{form.last_name(class="form-control",value=user.last_name)}}
      {% for  error in form.errors.last_name %}
      <small class="text-danger form-text">
      {{  error }}
      </small>
      {% endfor %}
    </div>
    <div class="form-group">
      {{form.biography.label(class="col-form-label")}}
      {{form.biography(class="form-control",value=user.biography)}}
      {% for  error in form.errors.biography %}
      <small class="text-danger form-text">
      {{  error }}
      </small>
      {% endfor %}
    </div>
    <div class="form-group">
    {{form.submit(class="btn btn-outline-success mb-3", value="Edit now")}}
  </div>

  </form>
</div>
</div>
{% endblock %}