{% extends 'base.html' %}

<!-- header block -->
{% block header %}
<h1>{% block title %}Users{% endblock %}</h1>
{% endblock %}

<!-- content block -->
{% block main %}
<div class="row my-5">
  {% for user in users %}
<div class="col-md-3 col-sm-12">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">
    {{user.username}}
      </h3>
    </div>
    <div class="card-body text-center">
     <p>  {{user.first_name}}</p>
     <p>  {{user.last_name}}</p>
    </div>
    <div class="card-footer">
      <a class="btn btn-secondary my-3" href="{{ url_for('user.view_user',id = user._id) }}">View User</a>
    </div>
    </div>
</div>


{% endfor %} 
</div>
<a class="btn btn-primary my-3" href="{{ url_for('user.add_user') }}" role="button" >Add User</a>

{% endblock %}
