{% extends 'base.html' %}
<!-- title -->
{% block title %}Flask Souq - items{% endblock %}


<!-- content block -->
{% block main %}

<!-- items header -->
<h1 class="text-justify border-bottom pb-2 px-5">Latest Item to Choose</h1>
<div class="d-flex justify-content-between mb-3 px-5">
    <h3>
      Items
    </h3>
    {% if session['user']%}
    {% if session['user']['status']=='seller'%}
    <a class="btn btn-success rounded-0" href="{{url_for('item.add_item')}}">Add item</a>
    {%endif%}
    {%endif%}
  </div>

<div class="row px-5">

  {% for item in items %}
  <div class="col-lg-3 col-md-6 col-sm-12">

    <!-- item card -->
    <div class="card bg-light mb-3">

      <!-- card header -->
      <div class="card-header">
        <h5 class="card-title">{{ item['title'] }}</h5>
       <a href='{{url_for("user.view_user", id=item.store_name.id)}}'> <h6 class="card-subtitle mb-2 text-muted"> Store Name : {{ item.store_name.first_name | title}} {{ item.store_name.last_name | title}}</h6></a>
      </div>

      <!-- card body -->
      <div class="card-body">
        <p class="card-text">{{ item['content']|truncate(40, True) }}</p>
        <p class="card-text">{{ item['created'] }}</p>

        <a href="{{url_for('item.view_item', item_id = item.id)}}" class="card-link">View item</a>
        <a href="{{url_for('item.add_item_to_card', item_id = item.id)}}" class="btn btn-dark d-block w-100 rounded-0 mt-5">Add to card</a>
      </div>
    </div>
  </div>
  {%endfor%}
</div>
{% endblock %}