{% extends 'base.html' %}
<!-- title -->
{% block title %}Flask Blog - Add post{% endblock %}

<!-- content block -->
{% block main %}
<div class="row my-5">
  <div class="col-lg-8">
    <h3>
    Add post
    </h3>
  </div>
</div>

<div class="row">
  <div class="col-lg-8">

<form method="POST" action="">
  {{form.hidden_tag()}}
  <div class="mb-3">
   {{form.title.label}}
   {{form.title()}}
    </div>
    <div class="mb-3" >
      {{form.body.label}}
      {{form.body()}}
       </div>
    
       <div class="my-3">
        {{form.submit(class_="btn btn-success")}}
      </div>

</form>
{% endblock %}
