{% extends 'base.html' %}
<!-- title -->
{% block title %}Flask Blog - Posts{% endblock %}


<!-- content block -->
{% block main %}

<!-- posts header -->

<div class="row mt-5">
  <div class="col d-flex justify-content-between">
    <h1>{{post.title}}</h1>

  </div>
</div>
<div class="row">
  <div class="col-md-12 mr-auto my-5">
   <div class="row">
     <div class="col">
      <p>{{post.content}}</p>
      <div>
          {% for tag in post.tags%}
            <span class="badge bg-info p-2 text-white">{{tag}}</span>
          {%endfor%}
      </div>
     </div>
   </div>
   <div class="row">
     <div class="col-lg-4 col-md-12">
      <form method="POST" action="">
        {{form.hidden_tag()}}

            {{form.body.label(class="col-form-label")}}
            {{form.body(class="form-control")}}
        {{form.submit(class="btn btn-primary my-2")}}
         </form>
     </div>
   </div>
    <div class="row">
      <div class="col-md-12">
        {% for comment in post.comments%}
        <article class="alert alert-info text-white">
          <p class="text-dark">{{comment.content}}</p>
          <a class="btn btn-danger" href="{{url_for('post.delete_comment', post_id = post.id,content = comment.content)}}">Delete Post</a>
          </article>
       {%endfor%}
      </div>
    </div>
  </div>
</div>
{% endblock %}